---
const navs = [
  {
    title: "IA",
    id: "IA",
    href: "/blog/IA",
    tooltip: "Information Architecture"
  },
  {
    title: "AI",
    id: "AI",
    href: "/blog/AI",
    tooltip: "Artificial Intelligence"
  },
  {
    title: "UX",
    id: "UX",
    href: "/blog/UX",
    tooltip: "User Experience"
  },
  {
    title: "UI",
    id: "UI",
    href: "/blog/UI",
    tooltip: "User Interface"
  },
  {
    title: "</>",
    id: "MEDIA",
    href: "/blog/MEDIA",
    tooltip: "Media"
  },
]

const { active } = Astro.props;
---

<div class="blog-nav">
  {
    navs.map((nav) => (
      active === nav.id 
      ? <a class="nav-item active" href={nav.href} title={nav.tooltip}>{nav.title}</a> 
      : <a class="nav-item"  href={nav.href} title={nav.tooltip}>{nav.title}</a>
    ))
  }
</div>


<style>
  .blog-nav {
    width: 100%;
    overflow-x: auto;
    display: flex;
    margin: 15px 0px;
    -webkit-overflow-scrolling: touch; /* Enable smooth scrolling on iOS */
  }
  .blog-nav .active {
    color: white !important;
  }
  .nav-item {
    text-align: center;
    width: 20%;
    padding: 5px 0px;
    background: radial-gradient(50% 50% at 50% 50%, #2b2c32 0%, #2b2c32 100%);
    margin: 0px 4px;
    font-size: 40px;
    font-weight: 800;
    color: #FFFFFF80;
    cursor: pointer;
    transition: .6s; /* Add transition for smoother color change */
  }
  .nav-item:hover,
  .nav-item:focus { /* Add focus selector */
    color: #4A90D9; /* Change to neon blue */
  }
  .nav-item:first-child {
    margin-left: 0px !important;
  }
  .nav-item:last-child {
    margin-right: 0px !important;
  }
  @media screen and (max-width: 575px) {
    .nav-item {
      font-family: Poppins !important;
      font-size: 24px !important;
      font-weight: 700 !important;
      line-height: 36px !important;
      letter-spacing: 0em !important;
      text-align: center !important;
      margin: 0px 4px 0px 0px;
      padding: 16px 18.5px !important;
    }
  }
</style>

